
.__pycache__
.gitattributes
.idea/.name
.idea/Cory Althoff.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
pyvenv.cfg
War/__pycache__/Wojna.cpython-311.pyc
War/__pycache__/Gracz.cpython-311.pyc
War/__pycache__/Karty.cpython-311.pyc
War/__pycache__/Talia.cpython-311.pyc
Logging/aplikacja.log
Logging/my.log
.idea/encodings.xml
